<% widget = w %>
<div class="box">
  <article class="media">
    <div class="media-content">
      <div class="content">
        <p>
          <strong class="whitetext"><%- widget.name %></strong> <span class="tag is-rounded"><%- widget.channels.length %> channels</span> <span class="tag is-rounded"><%- widget.members.length %> members</span> <a href="<%- widget.instant_invite %>"><span class="tag is-rounded">Join!</span></a> <a href="/s/<%- widget.id %>"><span class="tag is-rounded">View page</span></a>
        </p>
      </div>
    </div>
  </article>
</div>
