<!DOCTYPE html>
<head>
  <%- include('../partials/head'); %>
</head>
<body>
  <section class="hero is-info is-fullheight">
    <%- include('../partials/header'); %>
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        <%- title %>
      </h1>
      <h2 class="subtitle">
        <%- desc %>
      </h2>
      <br>
      <form action="/api/getlink" method="post">
        <div>
          <input class="input" name="id" value="Server ID" type="text">
        </div>
        <br>
        <div>
          <input class="input" name="shortlink" type="text" value="Shortlink">
        </div>
        <br>
        <div>
          <input value="Get your link!" class="button" style="margin-left: 35%; margin-right:35%" type="submit">
        </div>
</form>
    </div>
  </div>
</section>
<%- include('../partials/footer'); %>
</body>
